:root{
/* colours */
--mainwhite: #FFFFFA;
--pansy: #70163C;
--blue: #2978A0;
--grey: #818479;
--textblack: #000500;
}

/* Header and Nav Bar */
header {
    padding: 2% 0%;
    background-color: var(--pansy);
    color: var(--mainwhite);
}

header h1 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
nav {
    position:absolute;
    width: 100%;
    background-color: var(--mainwhite);
    padding: 1px;
    border-bottom: 5px solid var(--pansy);
    text-align: right;
}

ul li {
    display: inline-block;
    margin:2px;
    padding:10px;
    border-left: 5px solid var(--pansy);
    text-decoration: none;
}

li {
    text-align: center;
    font-size: 1.25rem;
    color: var(--textblack);
}

nav a:link{
    text-decoration: none;
}

nav a:hover{
    color:var(--grey);
}

nav a:active{
    color:var(--pansy)};

/* Section - Avatar and About Me */

body {
    padding: 50px;
}
section {
    border: 5px solid var(--textblack);
    padding: 20px 40px 0 40px;
    max-width: 100%;
    display:flex;
}

img {
    max-width: 600px;
    margin: 20px 30px 0 0;
    object-fit: contain;
    align-self: flex-start;
}

h2 {
    flex: 2 1 auto;
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    padding-top: 100px;
    padding-right: 50px;
}

.about-me-text {
    flex: 1 1 auto;
    text-decoration: none;
    text-align: center;
    padding-top: 50px;
    padding-left: 25px;
}

figure.avatar{
    width:auto;
    height:428px;

}